opencv-python>=4.5.1
numpy>=1.19.5
ultralytics==8.2.59
ultralytics-thop==2.0.0
tensorboard==2.15.2
tensorboard-data-server==0.7.2
tensorflow>=2.6.0
tensorflow @ https://storage.googleapis.com/colab-tf-builds-public-09h6ksrfwbb9g9xv/tensorflow-2.15.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256=a2ec79931350b378c1ef300ca836b52a55751acb71a433582508a07f0de57c42
tensorflow-datasets==4.9.6
tensorflow-estimator==2.15.0
tensorflow-gcs-config==2.15.0
tensorflow-hub==0.16.1
tensorflow-io-gcs-filesystem==0.37.1
tensorflow-metadata==1.15.0
tensorflow-probability==0.23.0
tensorstore==0.1.4
urllib3==2.0.7

